{
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "no-undef": "off",
    "require-jsdoc": "off",
    "no-extend-native": "warn",
    "linebreak-style": "off",
    "max-len": "warn"
  }
}